<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";/>

        <script src="{{url_for('static',filename='js/validacion.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}"/>

    </head>
    <body>
        {% include '_navbar.html' %}
        <div class="container">
          {%block body%}

          {% endblock %}
        </div>
    </body>
</html>